<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error - Fiks ferdig</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container error-page">
        <h1>Oops! Something went wrong</h1>
        <p><%= message %></p>
        <% if (error && Object.keys(error).length > 0) { %>
            <div class="error-details">
                <pre><%= JSON.stringify(error, null, 2) %></pre>
            </div>
        <% } %>
        <a href="/" class="btn">Back to Home</a>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>