<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fiks Ferdig</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Fiks ferdig</a></li>
            <li><a href="/todos"><span class="material-icons">task_alt</span> My Tasks</a></li>
            <% if (locals.user) { %>
                <li><a href="/todos/create"><span class="material-icons">add_task</span> Add Task</a></li>
                <li><a href="/auth/logout"><span class="material-icons">logout</span> Logout</a></li>
            <% } else { %>
                <li><a href="/auth/login"><span class="material-icons">login</span> Login</a></li>
                <li><a href="/auth/register"><span class="material-icons">person_add</span> Register</a></li>
            <% } %>
        </ul>
    </nav>
</body>
</html>